/* #################### - Developer Flarian Web - ######################### */
/*	Inter web font															*/
/* #################### - Developer Flarian Web - ######################### */

/* Hairline */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Hairline.woff2') format('woff2'),
		url('Inter-Hairline.woff') format('woff');
	font-weight: 100;
}

/* Thin */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Thin.woff2') format('woff2'),
		url('Inter-Thin.woff') format('woff');
	font-weight: 200;
}

/* Light */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Light.woff2') format('woff2'),
		url('Inter-Light.woff') format('woff');
	font-weight: 300;
}

/* Regular */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Regular.woff2') format('woff2'),
		url('Inter-Regular.woff') format('woff');
	font-weight: 400;
}

/* Medium */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Medium.woff2') format('woff2'),
		url('Inter-Medium.woff') format('woff');
	font-weight: 500;
}

/* Semibold */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-SemiBold.woff2') format('woff2'),
		url('Inter-SemiBold.woff') format('woff');
	font-weight: 600;
}

/* Bold */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Bold.woff2') format('woff2'),
		url('Inter-Bold.woff') format('woff');
	font-weight: 700;
}

/* Heavy */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-ExtraBold.woff2') format('woff2'),
		url('Inter-ExtraBold.woff') format('woff');
	font-weight: 800;
}

/* Black */
@font-face {
	font-family: 'Inter';
	src:
		url('Inter-Black.woff2') format('woff2'),
		url('Inter-Black.woff') format('woff');
	font-weight: 900;
}
