/* #################### - Developer Flarian Web - ######################### */
/*	UI Toggle																*/
/* #################### - Developer Flarian Web - ######################### */
@ui-toggle: ~'UiToggle';
@ui-toggle-switcher: ~'@{ui-toggle}-switcher';
@ui-toggle-slider: ~'@{ui-toggle}-slider';

@ui-toggle--rounded: ~'@{ui-toggle}--rounded';
@ui-toggle--active: ~'@{ui-toggle}--active';

.@{ui-toggle} {
	.text(inherit; 1em 1em);
	.box(inline-grid; auto; auto; none; 0.5rem; 1fr; auto 1fr; center; start);

	&:not([data-skeleton]) {
		.cursor-pointer();
	}

	/* toggle-switcher */
	& .@{ui-toggle-switcher} {
		.pa(0.125rem);
		.box(flex content-box; 2rem; auto);
		.border-radius(0.25em);
		.transition(all; @duration; @easing);
	}

	/* toggle-slider */
	& .@{ui-toggle-slider} {
		.grid(1 span; 1 2);
		.box(1rem; 1rem);
		.border-radius(0.2em);
		.transition(all; @duration; @easing);
	}

	/* toggle rounded */
	&.@{ui-toggle--rounded} {
		& .@{ui-toggle-switcher},
		& .@{ui-toggle-slider} {
			.border-radius(@rounded);
		}
	}

	/* toggle active */
	&.@{ui-toggle--active} {
		& .@{ui-toggle-slider} {
			.translateX(100%);
		}
	}

	/* toggle theme */
	&:not([data-theme]),
	&[data-color] {
		&:focus-visible {
			.@{ui-toggle-switcher} {
				.outline(rgb(@colorBase) 0.125rem solid; 0.125rem);
			}
		}
		& .@{ui-toggle-switcher} {
			.background(rgb(@colorBgSoft));
		}
		& .@{ui-toggle-slider} {
			.background(rgb(@colorBg));
		}
		&.@{ui-toggle--active} {
			& .@{ui-toggle-switcher} {
				.background(rgb(@colorBase));
			}
		}
	}

	/* toggle [disabled] */
	&[disabled] {
		.opacity(0.5);
		.cursor-not-allowed();
	}

	/* toggle [data-skeleton] */
	&[data-skeleton] {
		& .@{ui-toggle-switcher} {
			.relative(1; hidden);
			.background(rgba(@colorBgSoft, 0.5));
			&:before {
				content: '';
				.absolute(1; none; 0 -50% 0 -50%);
				.gradient(-80; transparent 10%; rgb(@colorBgSoft) 50%; transparent 90%);
				.animation(skeleton; 2500ms; sine; 0ms; infinite);
			}
		}
		& .@{ui-toggle-slider} {
			.background(transparent);
		}
	}

	/* toggle [data-color] */
	.-each-ui-toggle-color(@i:1; @l:length(@globalColors)) when (@i <= @l) {
		@color: extract(@globalColors, @i);
		&[data-color='@{color}'] {
			&:focus-visible {
				.@{ui-toggle-switcher} {
					.outline(rgb(~'@{color-@{color}}') 0.125rem solid; 0.125rem);
				}
			}
			&.@{ui-toggle--active} {
				& .@{ui-toggle-switcher} {
					.background(rgb(~'@{color-@{color}}'));
				}
			}
		}
		.-each-ui-toggle-color(@i + 1; @l);
	}
	.-each-ui-toggle-color();

	/* toggle [data-size] */
	.-each-ui-toggle-size(@i:1; @l:length(@globalSizes); @text:0.75rem; @switcher:1rem; @slider:0.5rem)
		when
		(@i <= @l) {
		@size: extract(@globalSizes, @i);
		&[data-size='@{size}'] {
			.text(none; none @text);
			& .@{ui-toggle-switcher} {
				.box(@switcher);
			}
			& .@{ui-toggle-slider} {
				.box(@slider; @slider);
			}
		}
		.-each-ui-toggle-size(@i + 1; @l; @text + 0.125rem; @switcher + 0.5rem; @slider + 0.25rem);
	}
	.-each-ui-toggle-size();
}

/* toggle [data-theme] */
.ui-toggle-data-theme() {
	&:focus-visible {
		.@{ui-toggle-switcher} {
			.outline(rgb(~'@{@{theme}-@{mode}-base-main}') 0.125rem solid; 0.125rem);
		}
	}
	& .@{ui-toggle-switcher} {
		.background(rgb(~'@{@{theme}-@{mode}-bg-soft}'));
	}
	& .@{ui-toggle-slider} {
		.background(rgb(~'@{@{theme}-@{mode}-bg-main}'));
	}
	&.@{ui-toggle--active} {
		& .@{ui-toggle-switcher} {
			.background(rgb(~'@{@{theme}-@{mode}-base-main}'));
		}
	}
}
.-eachTheme(@theme) {
	.-eachMode(@mode) {
		& when (@mode = @default-global-mode) {
			html .@{ui-toggle}[data-theme='@{theme}']:not([data-color]) {
				.ui-toggle-data-theme();
			}
		}
		& when not(@mode = @default-global-mode) {
			html[mode='@{mode}'] .@{ui-toggle}[data-theme='@{theme}']:not([data-color]) {
				.ui-toggle-data-theme();
			}
		}
	}
}
