# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Unit tests

on:
  pull_request:
    branches: [ "master" ]

jobs:
  unit_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/github-script@v7

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.x

    - uses: pnpm/action-setup@v3
      name: Install pnpm
      with:
        version: 8
        run_install: false

    - name: Install dependencies
      run: pnpm install
      
    - name: Unit run
      run: pnpm test:unit --silent --reporter json --outputFile log/unit-log.json
    
    - name: Create test report
      id: unit-test-report
      with:
        result-encoding: string
        script: |
          try {
            const fs = require('fs')
            const unitLogJson = fs.readFileSync('./log/unit-log.json')
            const parsedLog = JSON.parse(unitLogJson)

            let testMessage = '';

            testMessage += `<b>Всего наборов тестов:</b> ${parsedLog.numTotalTestSuites}<br>`;
            testMessage += `<b>Успешно пройдено:</b> ${parsedLog.numPassedTestSuites}<br>`;

            return testMessage;
          } catch(err) {
            core.error("Ошибка при чтении или анализе JSON")
            core.setFailed(err)
          }
          
    - name: Send telegram notify
      run: |
        msg_text='<b>Автор:</b> ${{ github.actor }}<br><b>Репозиторий:</b> ${{ github.repository }}<br>Изменения: https://github.com/${{ github.repository }}/commit/${{github.sha}}<br>${{steps.result-encoding.outputs.result}}'
        curl -s -X POST 'https://api.telegram.org/bot${{ secrets.TELEGRAM_NOTIFY_TOKEN }}/sendMessage' \
        -d "chat_id=${{ secrets.TELEGRAM_NOTIFY_CHAT_ID }}&text=${msg_text}&message_thread_id=${{ secrets.TELEGRAM_NOTIFY_THEME_AUTOTEST }}parse_mode=html"
